@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Variable.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-VariableItalic.ttf');
	font-style: italic;
	font-display: swap;
}

@layer base {
	:root {
		--background: 49 79% 94%;
		--foreground: 0 0 15%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 0 0 15%;
		--primary-foreground: 42 80% 94.1%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 0 0 35%;
		--accent: 129 31.9% 46.7%;
		--accent-foreground: 0 0 94.9%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0 15%;
		--foreground: 38 23.7% 70.2%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0 12.5%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 0 0 60%;
		--accent: 129 31.9% 36.7%;
		--accent-foreground: 210 2.94% 86.7%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: "Quattrocento Sans", serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Encode Sans SC", serif;
	}

	a {
		@apply hover:underline
	}
}
