---
const year = new Date().getFullYear()
---

<footer class='mx-auto mt-24 w-full'>
	<div class='border-t border-border pt-5 dark:border-primary/10'>
		<div
			class='flex flex-col items-center gap-y-3 sm:flex sm:flex-row sm:items-center sm:justify-between sm:gap-y-0'
		>
			<div class='flex gap-x-4 text-sm'>
				<!-- <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/terms'>Terms</a
        >

        <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/privacy'>Privacy</a
        > -->
				<p class=''>© Tanishq Singla {year}. All rights reserved.</p>
			</div>

			<div class='flex items-center justify-between gap-2 divide-x divide-primary/10'>
				<!-- Social Brands -->
				<div class='flex items-center gap-x-4'>
					<!-- Linkedin -->
					<a
						class='inline-block transition-all hover:text-muted-foreground'
						href='https://www.linkedin.com/in/tanishqsingla/'
					>
						<svg
							class='h-4 w-4 flex-shrink-0'
							xmlns='http://www.w3.org/2000/svg'
							width='1em'
							height='1em'
							viewBox='0 0 16 16'
						>
							<title>Tanishq's Linkedin profile</title>
							<path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</a>

					<!-- Peerlist -->
					<a
						class='inline-block transition-all hover:text-muted-foreground'
						href='https://www.peerlist.io/tanishqsingla/'
					>
						<svg
							width='18'
							height='18'
							viewBox='0 0 56 56'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<title>Tanishq's Peerlist profile</title>
							<path
								d='M28 0C6.22222 0 0 6.22222 0 28C0 49.7778 6.23778 56 28 56C49.7622 56 56 49.7778 56 28C56 6.22222 49.7622 0 28 0Z'
								fill='currentColor'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M7.24755 7.24755C3.5875 10.9076 2 17.153 2 28C2 38.8461 3.59108 45.0918 7.25306 48.7521C10.9153 52.4127 17.1612 54 28 54C38.8388 54 45.0847 52.4127 48.7469 48.7521C52.4089 45.0918 54 38.8461 54 28C54 17.1539 52.4089 10.9082 48.7469 7.24787C45.0847 3.58733 38.8388 2 28 2C17.153 2 10.9076 3.5875 7.24755 7.24755ZM0 28C0 6.22222 6.22222 0 28 0C49.7622 0 56 6.22222 56 28C56 49.7778 49.7622 56 28 56C6.23778 56 0 49.7778 0 28Z'
								fill='#24292E'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M27.0769 13H15V47H24.3846V39.8889H27.0769C34.7305 39.8889 41 33.9048 41 26.4444C41 18.984 34.7305 13 27.0769 13ZM24.3846 30.7778V22.1111H27.0769C29.6194 22.1111 31.6154 24.0864 31.6154 26.4444C31.6154 28.8024 29.6194 30.7778 27.0769 30.7778H24.3846Z'
								fill='#24292E'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M18 12H29.0769C36.2141 12 42 17.5716 42 24.4444C42 31.3173 36.2141 36.8889 29.0769 36.8889H25.3846V44H18V12ZM25.3846 29.7778H29.0769C32.1357 29.7778 34.6154 27.39 34.6154 24.4444C34.6154 21.4989 32.1357 19.1111 29.0769 19.1111H25.3846V29.7778Z'
								fill='white'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M17 11H29.0769C36.7305 11 43 16.984 43 24.4444C43 31.9048 36.7305 37.8889 29.0769 37.8889H26.3846V45H17V11ZM19 13V43H24.3846V35.8889H29.0769C35.6978 35.8889 41 30.7298 41 24.4444C41 18.1591 35.6978 13 29.0769 13H19ZM24.3846 18.1111H29.0769C32.6521 18.1111 35.6154 20.9114 35.6154 24.4444C35.6154 27.9775 32.6521 30.7778 29.0769 30.7778H24.3846V18.1111ZM26.3846 20.1111V28.7778H29.0769C31.6194 28.7778 33.6154 26.8024 33.6154 24.4444C33.6154 22.0864 31.6194 20.1111 29.0769 20.1111H26.3846Z'
								fill='#24292E'></path>
						</svg>
					</a>

					<!-- Github -->
					<a href='https://www.github.com/TanishqSingla' class='hover:text-muted-foreground'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							slot='icon'
							width='18'
							height='18'
							viewBox='0 0 24 24'
							fill='none'
							stroke='currentColor'
							stroke-width='2'
							stroke-linecap='round'
							stroke-linejoin='round'
							class='lucide lucide-github'
						>
							<title>Tanishq's Github profile</title>
							<path
								d='M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4'
							></path><path d='M9 18c-4.51 2-5-2-7-2'></path></svg
						>
					</a>
				</div>
				<!-- End Social Brands -->
				<div class='pl-2'><a href='/blog'>Blog</a></div>

				<div class='pl-2'><a href='/resume.pdf'>Resume</a></div>
			</div>
		</div>
	</div>
</footer>
